/* =Navigation
-------------------------------------------------------------- */

#sfNestedComments .navigation {	font-size: 12px;	line-height: 18px;	overflow: hidden;}
#sfNestedComments .navigation a:link,
#sfNestedComments .navigation a:visited {	text-decoration: none;}
#sfNestedComments .navigation a:active,
#sfNestedComments .navigation a:hover {	color: #ff4b33;}
#sfNestedComments .nav-previous {	float: left;	width: 50%;}
#sfNestedComments .nav-next {	float: right;	text-align: right;	width: 50%;}
#sfNestedComments #nav-above {	margin: 0 0 18px 0;}
#sfNestedComments #nav-above {	display: none;}
#sfNestedComments .paged #nav-above,.single #nav-above {	display: block;}
#sfNestedComments #nav-below {	margin: -18px 0 0 0;}

/* =Comments
-------------------------------------------------------------- */
#comments {	float: left;  margin: 0px 0px 15px;  min-height: 1px;  padding: 0px;  width: 100%;}
#comments .navigation {	padding: 0 0 18px 0;}
h3#comments-title,
h3#reply-title {color: #000;font-size: 20px;font-weight: bold;margin-bottom: 0;}
h3#comments-title {	padding: 24px 0;}
.commentlist {	list-style: none;	margin: 0;  padding: 0;}
.commentlist li.comment {	line-height: 24px;	margin: 0 0 24px 0;	padding: 0 0 0 12px;	position: relative;}
.commentlist li:last-child {	border-bottom: none;	margin-bottom: 0;}

#comments .comment-body ul,
#comments .comment-body ol {	margin-bottom: 18px;}
#comments .comment-body p:last-child {	margin-bottom: 6px;}
#comments .comment-body blockquote p:last-child {	margin-bottom: 24px;}
.commentlist ol {	list-style: decimal;}
.commentlist img.avatar {	top: 4px;	margin: 0px 5px 0px 10px;  float: right;  border: 1px solid #E6E6E6;}
.comment-body{  padding: 0px 0px 9px;}
.comment-author cite {color: #000;	font-style: normal;	font-weight: bold;}
.comment-author .says {	font-style: italic;}
.comment-meta {	font-size: 12px;	margin: 0 0 18px 0;}
.comment-meta a:link,.comment-meta a:visited {	text-decoration: none;}
.comment-meta a:active,.comment-meta a:hover {	color: #ff4b33;}
.reply {	font-size: 12px;	padding: 0 0 24px 0;}
.reply a:hover,a.comment-edit-link:hover {	color: #ff4b33;}
.commentlist .children {	list-style: none;	margin: 0;  padding: 0;}
.commentlist .children li {	border: none;	margin: 0;}
.nopassword,.nocomments {	display: none;}
#comments .pingback {	border-bottom: 1px solid #e7e7e7;	margin-bottom: 18px;	padding-bottom: 18px;}
.commentlist li.comment+li.pingback {	margin-top: -6px;}
#comments .pingback p {	color: #888;	display: block;	font-size: 12px;	line-height: 18px;	margin: 0;}
#comments .pingback .url {	font-size: 13px;	font-style: italic;}

/* Comments form */
#respond {border-top: 1px solid #e7e7e7;margin: 24px 0;	overflow: hidden;	position: relative;}
#respond p {	margin: 0;}
#respond .comment-notes {	margin-bottom: 1em;}
.form-allowed-tags {	line-height: 1em;}
.children #respond {	margin: 0 48px 0 0;}
h3#reply-title {	margin: 18px 0;}
#comments-list #respond {	margin: 0 0 18px 0;}
#comments-list ul #respond {	margin: 0;}
#cancel-comment-reply-link {	font-size: 12px;	font-weight: normal;	line-height: 18px;}
#respond .required {	color: #ff4b33;	font-weight: bold;}
#respond label {font-size: 12px;}
#respond input {	margin: 0 0 9px;	width: 98%;}
#respond textarea {	width: 98%;}
#respond .form-allowed-tags {	color: #888;	font-size: 12px;	line-height: 18px;}
#respond .form-allowed-tags code {	font-size: 11px;}
#respond .form-submit {	margin: 12px 0;}
#respond .form-submit input {	font-size: 14px;	width: auto;}
.comment.moderated {   font-style: italic; background-color: #FFFFEE;}
#respond div.form_error label {   color: red;}
#cancel-comment-reply-link {   display: none;}
.error-page {  -moz-border-radius: 11px 11px 11px 11px;  background: none repeat scroll 0 0 #FFFFFF;  border: 1px solid #DFDFDF;  color: #333333;  font-family: Verdana,Arial,"Bitstream Vera Sans",sans-serif;  padding: 1em 2em;}
table.recentcommentsavatar img.avatar {border: 0px; margin:0;vertical-align: middle;}
table.recentcommentsavatar a {border: 0px !important;background-color: transparent !important}
td.recentcommentstextend, td.recentcommentstexttop {line-height: 1.4em; vertical-align: middle; }
td.recentcommentsavatartop, td.recentcommentsavatarend {padding:0px 0px 1px 0px;margin:0px;}
td.recentcommentstexttop { border: none !important;padding:0px 0px 0px 10px; text-align: left;}
td.recentcommentstextend { border: none !important;padding:0px 0px 2px 10px; text-align: left;}